@font-face {
    font-family: "edufun";
    src: url("../../fonts/HelveticaNeueW23-Reg.woff");
  }
  
  html,
  body,
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    outline: 0;
  }
  
  .dark-mode {
    background-color: wheat;
    color: white;
  }
  .coloor {
    background: #8cb337 !important;
  }
  
  button {
    padding: 0;
    border: none;
    background: none;
  }
  ::selection {
    background: #c1c1c1;
  }
  
  body {
    background: #0e0e0e;
    font-family: "edufun";
  }
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  h1 {
    color: #231f50;
  }
  
  h3 {
    color: #ffffff;
  }
  
  p {
    color: #ffffff;
  }
  
  .dark {
    color: black !important;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #340979;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px #8cb337;
    transition: background 0.3s, border-top 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, border-top 0.3s, color 0.3s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #8cb337;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #340979;
    transition: background 0.3s, border-top 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, border-top 0.3s, color 0.3s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  }
  /*-----------------------------------------------------*/
  
  .header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .logo {
    margin-right: 600px;
  }
  
  .logo img {
    width: 200px;
  }
  
  .log {
    margin-top: 15px;
  }
  
  .log a {
    padding: 10px;
    color: #8f8f8f;
  }
  
  .login,
  .signup,
  .profile,
  .logout {
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s, border-top 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, border-top 0.3s, color 0.3s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  }
  
  .login:hover,
  .signup:hover,
  .profile:hover,
  .logout:hover {
    color: #ffffff;
    background-color: #8cb337;
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s, border-top 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, border-top 0.3s, color 0.3s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  }
  
  .log .active {
    color: #ffffff;
    border-radius: 5px;
    background: #8cb337;
  }
  
  #menu {
    width: 100%;
    height: 58px;
    background: url(../../img/background.png) repeat #0e0e0e;
  }
  
  #menu .menu {
    display: flex;
    justify-content: left;
    margin-left: 200px;
  }
  
  #menu .menu .nav ul {
    display: flex;
    text-align: center;
  }
  
  #menu .menu-item {
    border-top: 2px solid transparent;
    transition: background 0.3s, border-top 0.3s, color 0.3s;
    -webkit-transition: background 0.3s, border-top 0.3s, color 0.3s;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
  }
  
  .menu-item > a > button > i {
    cursor: pointer;
  }
  
  #menu .active {
    border-top: 2px solid #8cb337 !important;
    color: #000;
    background: #0e0e0e;
  }
  
  #menu .active a {
    color: #ffffff !important;
  }
  
  #menu .menu-item:hover {
    border-top: 2px solid #8cb337 !important;
    background: #0e0e0e;
  }
  
  #menu .menu-item a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 16px;
    display: block;
    padding: 20px 20px 15px 15px;
    height: 22px;
  }
  
  #menu .menu-item > a {
    line-height: 50%;
    padding: 19px 20px 15px 15px;
  }
  
  #menu .menu-item:hover a {
    color: #ffffff !important;
  }
  
  .search {
    margin-top: 10px;
    width: 300px;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #8cb337;
    background-color: #ebebeb;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 15px 0 0 15px;
  }
  
  .searchTerm:focus {
    color: #000000;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #8cb337;
    background: #8cb337;
    text-align: center;
    color: #ebebeb;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  h4 {
    color: #fff;
    flex-wrap: wrap;
  }
  /*-----------------------------------------------------*/
  
  #sign-in {
    display: flex;
    justify-content: center;
  }
  
  .sign-in {
    padding: 20px;
    border-radius: 20px;
    max-width: 550px;
    margin-top: 60px;
    background: url(../../img/background.png) repeat #0e0e0e;
  }
  .sign-in label {
    padding: 0px 10px 0px 0px;
  }
  
  .sign-in h2 {
    color: #ffffff;
  }
  
  .sign-in label {
    color: #fff;
  }
  
  .sign-in #user {
    margin-top: 2px;
    float: right;
    border: 0.2px solid #fff;
    border-radius: 5px;
  }
  
  .sign-in #pass {
    float: right;
    border: 0.2px solid #fff;
    border-radius: 5px;
    margin-top: 2px;
  }
  
  .sign-in .button {
    cursor: pointer;
    padding: 5px 5px;
    color: #fff;
    border-radius: 8px;
    border: 0.2px solid #8cb337;
    background-color: #8cb337;
  }
  
  /********------------------------------------------------------------------*********/
  
  #profile {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .container {
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    background: url(../../img/background.png) repeat #0e0e0e;
  }
  
  #profile .container h1 {
    font-size: 50px;
    color: #fff;
  }
  
  tr {
    color: #8f8f8f;
  }
  
  th {
    float: left;
  }
  
  #games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #gamess {
    margin-top: 20px;
    text-align: center;
  }
  
  #game {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .games-text {
    width: 1000px;
    border-bottom: 1px solid #8f8f8f;
  }
  
  .games-text p {
    color: #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
  }
  
  #games .games-1 {
    max-width: 1000px;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 40px;
  }
  /********------------------------------------------------------------------*********/
  .leaderboard {
      margin-top: 20px;
      width: 100%;
  
      background: url(../../img/background.png) repeat #0e0e0e;
  }
  .leaderboard h1 {
    font-size: 18px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
  }
  .leaderboard h1 svg {
    width: 25px;
    height: 26px;
    position: relative;
    top: 3px;
    margin-right: 6px;
    vertical-align: baseline;
  }
  .leaderboard ol {
    counter-reset: leaderboard;
  }
  .leaderboard ol li {
    position: relative;
    z-index: 1;
    font-size: 14px;
    counter-increment: leaderboard;
    padding: 18px 10px 18px 50px;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
  .leaderboard ol li::before {
    content: counter(leaderboard);
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    line-height: 25px;
    color: #9dbb5d;
    background: #fff;
    border-radius: 20px;
    text-align: center;
  }
  .leaderboard ol li mark {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18px 10px 18px 50px;
    margin: 0;
    background: none;
    color: #fff;
  }
  .leaderboard ol li mark::before,
  .leaderboard ol li mark::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -11px;
    left: -9px;
    border-top: 10px solid #c24448;
    border-left: 10px solid transparent;
    transition: all 0.1s ease-in-out;
    opacity: 0;
  }
  .leaderboard ol li mark::after {
    left: auto;
    right: -9px;
    border-left: none;
    border-right: 10px solid transparent;
  }
  .leaderboard ol li small {
      position: relative;
      z-index: 2;
      display: block;
      text-align: right;
      color: #fff;
      font-size: 13px;
      margin-right: 20px;
  }
  .leaderboard ol li:nth-child(1) {
    background: #5d487e;
  }
  
  .leaderboard ol li:nth-child(2) {
    background: #4f327e;
  }
  .leaderboard ol li:nth-child(3) {
    background: #48267e;
  }
  
  .leaderboard ol li:nth-child(4) {
    background: #391279;
  }
  
  .leaderboard ol li:nth-child(5) {
    background: #340979;
    border-radius: 0 0 10px 10px;
  }
  
  .the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
  }
  .the-most img {
    max-width: 100%;
  }
  
  /* input {
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    line-height: 24px;
    color: #555;
    background-color: #f1f1f1;
    border: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
  }
  input {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  #container {
    padding: 50px;
    height: auto;
    width: auto;
  }
  .titel-site {
    flex: 2;
  }
  .bracket-title ul,
  .bracket-title li {
    display: inline;
  }
  .navbar-resultaten-kolom,
  .navbar-gebruikers {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 25px;
  }
  .navbar-resultaten-kolom label {
    color: #747474;
    font-size: 18px;
    font-weight: bold;
  }
  .kolomleader,
  .resultaat-kolom {
    flex: 1;
  }
  .navbar-resultaten-kolom {
    margin: 5px 0px;
  }
  .navbar-gebruikers {
    background: #1d1d1d;
    border-radius: 10px;
    margin: 5px 0px;
    align-items: center;
  }
  .navbar-ladder .navbar-gebruikers:nth-of-type(1) {
    color: #686ef9;
  }
  .resultaat-kolom {
    font-size: 18px;
    color: #747474;
    font-weight: bolder;
  }
  .punt {
    display: block;
    background: lightgreen;
    color: white !important;
    font-weight: bold;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
  }
  .rank-level {
    padding-top: 4px;
    vertical-align: middle;
    color: #00008b;
  }
  .navbar-gebruikers:hover {
    background: #1a1a1a;
  }
  
  .start-over {
    font-size: 1.2rem;
    background-color: #2d70d4;
    border: none;
    color: rgb(228, 213, 213);
    border-radius: 7px;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
  }
  .start-over:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0 rgba(20, 126, 255, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
    color: #181515;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .leader {
    text-align: center;
    display: block;
    background: #ecf144;
    border-radius: 15px;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-family: "Nova Square", cursive;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }
  .flex-colum {
    display: flex;
    flex-direction: column;
  }
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  .justify-center {
    justify-content: center;
  }
  .text-center {
    text-align: center;
  }
  .btn {
    font-size: 2rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #181515;
    background: #1872e7;
    border-radius: 5px;
  }
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
  }
  #highscore-btn {
    background: #f4f812;
  }
  #highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
  }
  .fa-crown {
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  .fa {
    font-size: 2.5rem;
    margin-left: 1rem;
  } */
  